# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [2]:
#Your code here #80 characters usually is a general concensus limit on how wide code can be
query = """
SELECT
  employees.firstName
, employees.lastName
, offices.city
, offices.state
FROM
    employees
JOIN offices
    ON employees.officeCode = offices.officeCode
ORDER BY
  employees.firstName 
, employees.lastName
"""

In [4]:
result = cur.execute(query)

In [5]:
result.description

(('firstName', None, None, None, None, None, None),
 ('lastName', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None))

In [7]:
result_data = list(result)

In [8]:
len(result_data)

23

In [9]:
result_data = []
for row in result:
    result_data.append(row)

In [10]:
len(result_data)

0

In [11]:
result_data = []
while True:
    try:
        row = next(result)
        result_data.append(row)
    except StopIteration:
        break

In [12]:
list(zip(*result.description))[0] #more pythonic, but less legible, use the code below

('firstName', 'lastName', 'city', 'state')

In [13]:
columns = [row[0] for row in result.description]

In [15]:
pd.DataFrame(result_data, columns = columns)

Empty DataFrame
Columns: [firstName, lastName, city, state]
Index: []

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

<img src='Database-Schema.png' width=550>

In [ ]:
#Your code here #80 characters usually is a general concensus limit on how wide code can be
query = """
SELECT
  employees.firstName
, employees.lastName
, offices.city
, offices.state
FROM
    employees
JOIN offices
    ON employees.officeCode = offices.officeCode
ORDER BY
  employees.firstName 
, employees.lastName
"""

In [114]:
#Return a list of all of the customers. For each customer
#return a record for each of their order numbers, order dates and statuses.
""" orders.orderNumber, orders.orderDate, and orders.status
join customers.CustomerNumber and orders.customerNumber"""

query2 = """
SELECT
  customers.customerName
, orders.orderNumber
, orders.orderDate
, orders.status

FROM
    orders
JOIN customers
    ON orders.customerNumber = customers.customerNumber
"""

In [115]:
result = cur.execute(query2)

In [116]:
result.description

(('customerName', None, None, None, None, None, None),
 ('orderNumber', None, None, None, None, None, None),
 ('orderDate', None, None, None, None, None, None),
 ('status', None, None, None, None, None, None))

In [117]:
columns = [row[0] for row in result.description]

In [16]:
pd.DataFrame(result_data, columns = columns)

Empty DataFrame
Columns: [firstName, lastName, city, state]
Index: []

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!